*{
    margin: 0;
    padding:0;
}
.header{
    height: 100px;
    display:grid;
    grid-template-columns:10% 50% 40% ;
    background: #fff;
}
.img{
    height: 100px;
    width: 100px;
    margin-left: 30px;
}
.menu{
    margin-top: 39px;
    margin-bottom: 39px;
}
 .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:22px;
}
.menu ul li a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height:5px;
    color: #DD3333;
}
.menu ul li a:hover{
    border-bottom: 2px solid #DD3333;
}
.function{
    margin-top: 30px;
    margin-bottom: 39px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.functionsearch{
    margin-left: 50px;
    margin-top: 10px;
}
.input{
    border-top: none;
    border-left:none;
    border-right: none;
    height: 40px;
    width: 300px;
}

.button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background:#F2DFE3;
    color: #DD3333;
    border:1px solid #F2DFE3;
    height: 40px;
}
.button a{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #DD3333;
    text-decoration: none;
    padding-bottom: 5px;
}
.one1{
	border: inherit;
	border-bottom:  2px solid #ff0000;
    display:block;
    margin-left:50px;
    font-size:20px;
 
}
.one{
    position:absolute;
    height:400px;
	width: 750px;
	background: #FFFFFF;
	text-align: center;
    border-radius: 30px;
    margin-left:30%;
}

#thanhtoan{
    font-size: 14px;
    color:#808080;
    
}
button{
    font-size:10px;
    border-radius: 5%;
    background-color:#D9D9D9 ;
    border:none;
    padding:5%;
}
body{
    background: #EFEFEF;
    font-family:'Times New Roman', Times, serif
}
button{
    background-color: #D9D9D9;
}
input[type=button]{
    border:none;
    background-color: #F2DFE3;
  border-radius: 20px;
  color: white;
  padding: 8px 20px;
  text-decoration: none;}
#row1{
    margin-left:0.5%;
    padding-right: 10%;
}


.img1{
    width: 269.69px;
Height: 280px
}
